---
import Sidebar from "./components/Sidebar.svelte"

const { path = "/" } = Astro.props;
---

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.85" />
    <link rel="icon" href="/assets/images/Daveberry Wave.png" />
    <link
        rel="preload"
        href="/assets/fonts/JetBrainsMono-Regular.ttf"
        as="font"
        type="font/ttf"
        crossorigin
    />
    <title>Dave's Webby</title>
</head>
    <body>
        <div class="parent">
            <Sidebar client:load currentPath={path} />
            <section class="mainPanel"><slot/></section>
        </div>
    </body>
</html>

<style>

:root {
    --background: rgba(20, 20, 20, 1);
    --sidebar: rgba(30, 30, 30, 1);
    --border: rgba(35, 35, 35, 1);
    --text: rgba(255, 255, 255, 1);
    
    --primary: rgba(0, 139, 255, 1);
    --primaryBorder: rgba(0, 119, 235, 1);
    --secondary: rgba(0, 99, 215, 1);
    --misc: rgba(100, 100, 100, 1);
}

@font-face {
    font-family: jetbrains;
    src: url('/assets/fonts/JetBrainsMono-Regular.ttf');
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.parent {
    display: flex;
    height: 100vh;
    background: var(--background);
    color: var(--text);
    font-family: jetbrains;
    box-sizing: border-box;
    overflow-y: hidden;
    
    .mainPanel {
        flex: 1;
        min-width: 0;
        max-height: 100vh;
        padding: 50px;
        box-sizing: border-box;
        overflow-y: scroll;
        overflow-x: hidden;

        @media (max-width: 768px) {
            flex: none;
            max-width: 100vw;
            scroll-snap-align: start;
            padding: 20px;
        }
    }
}

</style>
