@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

:root {
    --accentColor: rgba(0, 139, 255, 1);
    --secondaryColor: rgba(0, 119, 230, 1);
    
    --backgroundColor: rgba(0, 0, 0, 1);
    --frameColor: rgba(25, 25, 25, 1);
    --glowColor: rgba(15, 15, 15, 1);
    
    --textColor: rgba(255, 255, 255, 1);
}

body {
    font-family: "Fredoka", sans-serif;
    background-color: var(--backgroundColor);
    color: var(--textColor);
    
    display: flex;
    justify-content: center;
}